.ir {
	overflow: hidden;
	text-indent: -9999em;
}

.clearfix::after {
	content: '';
	display: block;
	clear: both;
}

.a11y-hidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0,0,0,0);
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
}
