@import "module/common.css";

body {
	margin: 0;
}

.parent {
	position:   fixed;
	top: 0;
	left: 50%;
	z-index: -1;
	transform: translateX(-50%);
	/*width:      800px;*/
	width:      100%;
	height: 100vh;
	/*margin:     80px auto;*/
	/*background: hsla(3, 99%, 62%, 0.5);*/
	background: url(../images/photo-woman.jpeg) center center;
	background-size: cover;
}

.parent-title {
	color: #fff;
	font: 100 24px/1 Geogia;
}

.child {
	float:      right;
	width:      400px;
	height:     400px;
	background: #FC8684;
}

.sibling {
	float:      left;
	width:      200px;
	height:     200px;
	background: #7E3A3C;
}

/*.clearfix {
	clear: both;
}*/

main {
	margin-top:    100vh;
	padding-top:   2em;
	padding-left:  30%;
	padding-right: 30%;
	background:    #fff;
}