@charset "utf-8";
html {
	overflow-y: visible;
	-webkit-font-smoothing: antialiased;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}
body {
	margin: 0;
	font: 87.5%/1.5 "Nanum Gothic", Sans-Serif;
}

/* .page 디자인 */
.page {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}
