body {
	margin: 0;
	font: 14px/1.5 Helvetica;
}
nav {
	padding: 2em;
}
nav ul {
	list-style-type: none;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}
nav a {
	text-decoration: none;
	color: #82AEC9;
}

/**
 * --------------------------------
 * 상태 디자인
 *
 * 가상 클래스
 * 모든 요소에 적용가능한 가상 클래스
 * :hover
 * anchor 요소에 적용 가능한 가상 클래스
 * :link, :visited, :hover, :active
 * ----------------------------- */

/*miki design*/
.miki {
	position: absolute;
	top: 90px;
	right: 100px;
	width: 200px;
	height: 200px;
	background: #010101;
	border-radius: 50%;
}
.ear {
	position: absolute;
	top: -30px;
	width: 100px;
	height: 100px;
	background: #010101;
	border-radius: 50%;
}
.ear-left {
	left: -40px;
}
.ear-right {
	right: -40px;
}
.miki::before, .miki::after {
	content: '';
	position: absolute;
	top: -30px;
	width: 100px;
	height: 100px;
	background: #010101;
	border-radius: 50%;
}
.miki::before {
	left: -40px;
}
.miki::after {
	right: -40px;
}
nav a:link {
	padding-bottom: 0.1em;
	border-bottom: 1px dotted;
}
nav a:visited {
	color: #4C5790;
}
nav a:hover {
	color: #5FA16C;
}
nav a:active {
	background: #ff0;
}
nav a.disabled {
	cursor: default;
	color: #eee;
}

/*nav a.hover {
	color: #5FA16C;
}

nav a.visited {
	color: #4C5790;
}

nav a.active {
	background: #ff0;
}*/

/**
 * ----------------------------------------------
 * 가상 요소
 * :before, :after, :first-line, :first-letter
 * ------------------------------------------- */
.dropcap {
	margin: 0 20% 3em;
	color: #817E7A;
	font: 15px/1.8 'Times New Roman';
}
.dropcap .first-letter {
	float: left;
	margin-right: 0.3em;
	font-size: 4em;
	line-height: 1;
	color: #046380;
}
.dropcap::first-letter {
	float: left;
	margin-right: 0.3em;
	font-size: 4em;
	line-height: 1;
	color: #046380;
}
.demo.first-line {
	margin-left: 14%;
	margin-right: 14%;
}
.demo.first-line p {
	margin-top: 0;
	margin-bottom: 0;
}
.demo.first-line p:first-line {
	background: rgba(255, 255, 0, 0.3);
}

/**
 * --------------------------------
 * 새롭게 추가된 상태 디자인
 * ::selection
 * ----------------------------- */
::-moz-selection {
	background: #FC4A54;
	color: #fff;
}
::selection {
	background: #FC4A54;
	color: #fff;
}

/**
 * --------------------------------
 * 접근성 고려
 * 프린트 환경 사용자를 고려한 디자인(설계)
 * ----------------------------- */
@media print {
	.a11y-contents a::after {
	/*[class="a11y-contents"] a::after {*/
		content: ' ('attr(href) ')';
	}
}