@charset "utf-8";
/* CSS 모듈 호출 */
@import "reset.css";
@import "common.css";
@import "grid.css";

/**
 * --------------------------------
 * 페이지 디자인
 * ----------------------------- */
body {
	background: #bababa;
}
.page {
	margin-top: 50px;
	min-height: 100vh;
}

.page .row {
	margin-bottom: 20px;
}

.page .row > div {
	height: 80px;
	background: #333;
}